<div class="col-2">
  </div>
<div class="col-5" id="group_form">
<h3>Create A New Dumpster <i class="fas fa-dumpster"></i></h3>

<div class="form">

<%= form_for @group do |f| %>
<%= f.label :name %>
<p><%= f.text_field :name %></p>
<%= f.label :description %>
<p><%= f.text_area :description %></p>
<%= f.submit %>
<% end %>
</div>
</div>
