<h3>Group name:</h3>
<%= @group.name %>
<h4>Group Description:</h4>
<%= @group.description %>
<h4>Group members:</h4>
<ul>
  <% @group.users.each do |u| %>
    <li>Username: <%= u.name %></li>
    <li>Insulted victims <%= u.insults.count %> times</li>
        <% u.insults.each do |i| %>
        <li> Content: <%= i.content %></li>
        <li><%= "#{u.name}'s" %> Victims: <% i.victims.each do |v| %></li>
        <li><%= v.name %></li>
        <% end %>
        <% end %>
    <% end %>
</ul>
<h3>Search for a friend to add:</h3>
<%= form_tag({controller: "users", action: "search_results"}, method: "get") do %>
  <%= label_tag(:q, "Search for a friend:") %><br>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @group.users.include?(current_user) %>
<%= link_to "Add insult to group", new_insult_path(group_id: @group.id) %>
<%= link_to "Leave a group", leave_path(@group.id), method: :post%>
<% else %>
<%= link_to "Join a group", join_path(@group.id), method: :post %>
<% end %>
