<div class="group_heading">
  <h3><%= @group.name %></h3>
  <h5><%= @group.description %></h5>
</div>

<h5>Group members:</h5>
<ul>
  <% @group.users.each do |u| %>
    <li>@<%= u.username %> (has trashed <%= u.insults.count %> people)</li>
  <% end %>
</ul>

<%= render "insult_feed" %>

<h3>Search for a friend to add:</h3>
<%= form_tag({controller: "users", action: "search_results"}, method: "get") do %>
  <%= label_tag(:q, "Search for a friend:") %><br>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @group.users.include?(current_user) %>
<%= link_to "Add insult to group", new_insult_path(group_id: @group.id) %>
<%= link_to "Leave this group", leave_path(@group.id), method: :post%>
<% else %>
<%= link_to "Join this group", join_path(@group.id), method: :post %>
<% end %>
