<%= form_for @user do |f| %>
  <%= f.label :name %>
  <p><%= f.text_field :name  %></p>
  <%= f.label :username %>
  <p><%= f.text_field :username %></p>
  <%= f.label :password %>
  <p><%= f.password_field :password %></p>
  <%= f.label :password_confirmation %>
  <p><%= f.password_field :password_confirmation %></p>
  <%= f.submit %>
<% end %>
