<h3>Sidebar</h3>

<div class="dropdown">
  <button class="dropbtn">Your groups</button>
  <div class="dropdown-content">
    <% @groups.each do |g| %>
      <%= link_to g.name, group_path(g) %>
    <% end %>
  </div>
</div>
<br><br>
<%= link_to "Create a new group", new_group_path %>
<br><br>
<%= form_tag({controller: "groups", action: "search_results"}, method: "get") do %>
  <%= label_tag(:q, "Search for a group:") %><br>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
<br><br>
<%= form_tag({controller: "users", action: "search_results"}, method: "get") do %>
  <%= label_tag(:q, "Search for a friend:") %><br>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<h3>Add insult</h3>
<div class="dropdown">
  <button class="dropbtn">Your groups</button>
  <div class="dropdown-content">
    <% @groups.each do |g| %>
      <%= link_to g.name, new_insult_path(group_id: g.id) %>
    <% end %>
  </div>
</div>

<h3>Insult feed</h3>

<%= render "insult_feed" %>
