<h3>Sidebar</h3>

<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <% @groups.each do |g| %>
      <%= link_to g.name, group_path(g) %>
    <% end %>
  </div>
</div>
<br><br>
<%= link_to "Create a new group", new_group_path %>
<br><br>
<%= form_tag("groups/search", method: "get") do %>
  <%= label_tag(:q, "Search for a group:") %><br>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
<h3>Main page</h3>
