<div class="col-8">
  <div class="show_heading">
    <span><b>@<%= @user.username %></b><i class="far fa-trash-alt"></i><%= @user.name %></span>
  </div>

<%= render "insult_feed" %>

</div>

<div class="col-2">
  <% if @user != current_user %>
    <div class="dropdown">
      <button class="dropbtn">Add <%= @user.name %> to a group</button>
      <div class="dropdown-content">
        <% current_user.groups.each do |g| %>
          <%= link_to g.name, add_path(group_id: g.id, user_id: @user.id), method: :post %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="side-button">
      <a href="/users/<%=@user.id%>" class="btn btn-outline-dark my-2 my-sm-0" id="delete-user-button" role="button" data-method="delete"><i class="far fa-trash-alt"></i> your account</a>
    <% end %>
</div>
