<div class="col-8">
  <div class="show_heading">
    <span><b>@<%= @user.username %></b><i class="far fa-trash-alt"></i><%= @user.name %></span>
  </div>

<%= render "insult_feed" %>

</div>

<div class="col-2">
  <% if @user != current_user %>
    <div class="side-button dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add @<%= @user.username %> to:
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% current_user_groups.each do |g| %>
          <% if !g.users.include?(@user) %>
            <%= link_to g.name, add_path(group_id: g.id, user_id: @user.id), method: :post, class: "dropdown-item" %>
          <% end %>
        <% end %>
        <% if (current_user_groups.all? {|g| g.users.include?(@user)}) %>
          <a class="dropdown-item" href="#">None available</a>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="side-button">
      <a href="/users/<%=@user.id%>" class="btn btn-outline-dark my-2 my-sm-0" id="delete-user-button" role="button" data-method="delete"><i class="far fa-trash-alt"></i> your account</a>
    <% end %>
</div>
