<h1><%= @user.username %></h1>

<h2><%= @user.name %></h2>

<div class="dropdown">
  <button class="dropbtn">Add <%= @user.name %> to a group</button>
  <div class="dropdown-content">
    <% current_user.groups.each do |g| %>
      <%= link_to g.name, add_path(group_id: g.id, user_id: @user.id), method: :post %>
    <% end %>
  </div>
</div>

<h3>Insults</h3>
<%= render "insult_feed" %>

<% if @user == current_user %>
<%= button_to "Delete your account", @user, method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
