<div class="col-1">
   </div>

<div class="new_insult col-7">
  <% if @insult.errors.any? %>
  <ul>
    <% @insult.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

<h3>Trash someone in: <%= @group.name %></h3>
<%= form_for @insult do |f|%>
<%= label_tag(:content) do %>
Content <i class="fas fa-poo"></i>
<% end %>
<p><%= f.text_area :content %></p>
<p><%= label_tag(:victim_ids, "Enemies:") %></p>
<p><%= f.collection_select(:victim_ids, @users, :id, :name, {:prompt => false}, {:multiple => true}) %></p>
<%= f.hidden_field :group_id, value: @group.id %>
<%= button_tag(:class => 'btn btn-outline-dark my-2 my-sm-0') do %>
  Trash <i class="far fa-trash-alt"></i>
  <% end %>
<% end %>
</div>
