<!DOCTYPE html>
<html>
  <head>
    <title>InsultApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <%= link_to current_user.name, user_path(current_user) %>
      <%= link_to "Edit profile", edit_user_path(current_user) %>
      <%= link_to "Home", home_path %>
      <%= link_to "Log out", logout_path, method: "delete" %>
    </div>
    <%= yield %>
  </body>
</html>
