<!DOCTYPE html>
<html>
  <head>
    <title>InsultApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <% if session["user_id"] %>
        <%= link_to "Log out", logout_path, method: "delete" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
