<!DOCTYPE html>
<html>
  <head>
    <title>InsultApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <ul class="nav sticky-top justify-content-end">
        <li class="nav-item">
          <%= link_to current_user.name, user_path(current_user), {class: "nav-link"} %>
        </li>
        <li class="nav-item">
          <%= link_to "Home", home_path, {class: "nav-link"} %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", logout_path, {class: "nav-link", method: "delete"} %>
        </li>
        <div class="nav-item-dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Search Menu
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                <%= form_tag({controller: "groups", action: "search_results"}, {class: "dropdown-item", method: "get"}) do %>
                <%= text_field_tag :q, nil, placeholder: "Search groups" %>
                <%= submit_tag("Search") %>
                <% end %>
                <%= form_tag({controller: "users", action: "search_results"}, {class: "dropdown-item", method: "get"}) do %>
                  <%= text_field_tag :q, nil, placeholder: "Search people" %>
                  <%= submit_tag("Search") %>
                <% end %>
          </div>
        </div>
      </ul>



    <div class="sidebar btn-group-vertical" role="group">
      <button type="button" class="side-button btn btn-info btn-block"><%= link_to "Create a new group", new_group_path %></button>
       <div class="dropdown">
         <button type="button" class="side-button btn btn-info btn-block">Your groups</button>
         <div class="dropdown-content">
           <% current_user_groups.each do |g| %>
             <%= link_to g.name, group_path(g) %>
           <% end %>
         </div>
       </div>
       <div class="dropdown btn-group-vertical">
         <button type="button" class="side-button btn btn-info btn-block">New insult</button>
         <div class="dropdown-content">
           <% current_user_groups.each do |g| %>
             <%= link_to g.name, new_insult_path(group_id: g.id) %>
           <% end %>
         </div>
       </div>

    </div>
    <div class="row">
      <div class="feed col-12">
        <%= yield %>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
  </body>
</html>
